:root {
	--color-primary: #5CC19E;
	--color-alt: #73A9D5;
	--color-alt_dark: #5396cc;
}

body {
	font-family: 'Inter', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap-btn-radio input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-user {
	padding: 110px 10px 20px;
	width: 250px;

	color: #fff;
	line-height: 1.2;

	border-radius: 10px;
	background: #B9B9B9 url(../img/icon-crying.svg) no-repeat top 15px center;
}

.btn-user:hover {
	color: #fff;
  background-color: var(--color-alt);
}

.wrap-btn-radio input[type="radio"]:checked + .btn-user {
  background-color: var(--color-primary);
}

.btn-user--psycholog {
	background-image: url(../img/icon-psycholog.svg);
	background-position: top center;
}

/*.btn*/

	.btn-primary {
		padding: 10px 33px;

	  background-color: var(--color-primary);
	  border-color: var(--color-primary);
	}

	.btn-primary:hover {
	  background-color: var(--color-alt);
	  border-color: var(--color-alt);
	}

	.btn-primary:active,
	.btn-primary:focus {
	  background-color: var(--color-alt_dark);
	  border-color: var(--color-alt_dark);
	}


/*.modal*/

	.modal-content {
		padding: 2rem;
		border: none;
		border-radius: 10px;
	}

	.modal-header {
		justify-content: center;

		color: var(--color-primary);
		border: none;
	}

	.modal-body {
	}

	.modal-footer {
		justify-content: center;
		border: none;
	}

	@media (min-width: 576px) {
		#modal-user-type .modal-dialog {
	    max-width: 630px;
		}

		#modal-login .modal-dialog {
			max-width: 380px;
		}
	}

/*.form*/

	.form-control::placeholder {
		font-size: 12px;
	}