<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи сервиса</title>
</head>
<body>
<div>
    {% if users %}
    {% for user in users %}
    <div style="background-color: gray;">
        {% if user.isUser == True %}
        <h2>Пользователь</h2>
        {% elif user.isUser == False %}
        <h2>Психолог</h2>
        {% endif %}
        <h3>Имя: {{ user.name }} Фамилия: {{ user.surname }}</h3>
        <h4>Дата рождения: {{ user.dateBirth }}</h4>
        <h4>Электронная почта: {{ user.email }}</h4>
    </div>
    {% endfor %}
    {% else %}
    <div style="background-color: gray;">
        <h2>В БД нет пользователей</h2>
    </div>
    {% endif %}
</div>
</body>
</html>