<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h3>Тестовая страница регистрации</h3>
<form method="post">
    <input type="text" name="name" id="name" placeholder="Имя"><br>
    <input type="text" name="surname" id="surname" placeholder="Фамилия"><br>
    <input type="text" name="placeResidence" id="placeResidence" placeholder="Место проживания (Не обязательно)"><br>
    <input type="text" name="dateBirth" id="dateBirth" placeholder="Дата рождения"><br>
    <input type="text" name="password" id="password" placeholder="Пароль"><br>
    <input type="text" name="email" id="email" placeholder="Электронная почта"><br>

    <input type="submit" value="Зарегистрироваться">
</form>
</body>
</html>