{% extends 'base.html' %}

{% block content %}

  <!-- Modal for date-picker -->
  <div class="modal" id="modal-date-note" tabindex="-1" style="position: relative; display: block; z-index: 0;">  <!-- fade -->
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body card p-4">
          <!-- <form class="">
            <p class="h5 mb-2 color-blue text-center">Выберите дату</p>
            <div class="input-date-note"></div>
            <div class="d-flex justify-content-between align-items-center mt-2">
<!--              <button type="submit" class="btn btn-blue">Создать запись</button>
              <a href="/diary/date/createnote" class="btn btn-blue">Создать запись</a>
              <a href="/diary" class="btn btn-link">Вернуться назад</a>
            </div>
          </form> -->
          <form action="" method="post">
          {{ form.hidden_tag() }}
          <p class="h5 mb-2 color-blue text-center">
            {{ form.date.label }}<br>
            {{ form.date(class="input-date-note") }}<br>
          </p>
          <p class="h5 mb-2 color-blue text-center">
            {{ form.text.label }}<br>
            {{ form.text(class="form-control") }}<br>
          </p>
          <p>
            {{ form.picture.label }}<br>
            {{ form.picture(type='file', class='form-control-file') }}
          </p>
          <p class="d-flex justify-content-between align-items-center mt-2">
            {{ form.submit(type="submit", class="btn btn-blue") }}
            <a href="/diary" class="btn btn-link">Вернуться назад</a>
          </p>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}