{% extends 'base.html' %}

{% block content %}
<section class="padding-for-navbar">
  <div class="container-fluid">
    <div class="video-tags d-flex mb-4">
      <a href="#" class="btn btn-sm btn-tag active">Все</a>
      <a href="#" class="btn btn-sm btn-tag">Семья</a>
      <a href="#" class="btn btn-sm btn-tag">Работа</a>
      <a href="#" class="btn btn-sm btn-tag">Детство</a>

      <a href="#" class="btn btn-sm btn-tag">Семья</a>
      <a href="#" class="btn btn-sm btn-tag">Работа</a>
      <a href="#" class="btn btn-sm btn-tag">Детство</a>

      <a href="#" class="btn btn-sm btn-tag">Семья</a>
      <a href="#" class="btn btn-sm btn-tag">Работа</a>
      <a href="#" class="btn btn-sm btn-tag">Детство</a>

      <a href="#" class="btn btn-sm btn-tag">Семья</a>
      <a href="#" class="btn btn-sm btn-tag">Работа</a>
      <a href="#" class="btn btn-sm btn-tag">Детство</a>

      <a href="#" class="btn btn-sm btn-tag">Семья</a>
      <a href="#" class="btn btn-sm btn-tag">Работа</a>
      <a href="#" class="btn btn-sm btn-tag">Детство</a>

      <a href="#" class="btn btn-sm btn-tag">Семья</a>
      <a href="#" class="btn btn-sm btn-tag">Работа</a>
      <a href="#" class="btn btn-sm btn-tag">Детство</a>

      <a href="#" class="btn btn-sm btn-tag">Семья</a>
      <a href="#" class="btn btn-sm btn-tag">Работа</a>
      <a href="#" class="btn btn-sm btn-tag">Детство</a>

    </div>
    <div class="video-list row row-cols-1 row-cols-md-3 row-cols-lg-4">
      <div class="video-item col mb-4">
        <a href="#" class="video-item__cover d-block">
          <img src="{{ url_for('static', filename='videos/example-video-01/example-video-01-cover.png') }}" alt="Title video" class="w-100">
          <span class="video-item__duration">15:39</span>
        </a>
        <div class="d-flex gap-2 py-2">
          <a href="#" class="video-item__autor-avatar">
            <img src="{{ url_for('static', filename='img/avatar-user-01.png') }}" alt="Name autor">
          </a>
          <div class="w-100">
            <div class="mb-1">
              <a href="#" class="video-item__title">
                Как избавиться от депрессии в условиях реального...
              </a>
            </div>
            <div class="">
              <a href="#" class="video-item__autor-name">
                Игорь Коновалов
              </a>
            </div>
          </div>
          <button class="btn btn-add-options"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<a href='#'>Скопировать ссылку</a> <a href='#'>Поделиться</a>">
            <svg width="3" height="15" viewBox="0 0 3 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.5" cy="1.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="13.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="7.5" r="1.5" fill="#3E3E3E"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="video-item col mb-4">
        <a href="#" class="video-item__cover d-block">
          <img src="{{ url_for('static', filename='videos/example-video-01/example-video-01-cover.png') }}" alt="Title video" class="w-100">
          <span class="video-item__duration">15:39</span>
        </a>
        <div class="d-flex gap-2 py-2">
          <a href="#" class="video-item__autor-avatar">
            <img src="{{ url_for('static', filename='img/avatar-user-01.png') }}" alt="Name autor">
          </a>
          <div class="w-100">
            <div class="mb-1">
              <a href="#" class="video-item__title">
                Как избавиться от депрессии в условиях реального...
              </a>
            </div>
            <div class="">
              <a href="#" class="video-item__autor-name">
                Игорь Коновалов
              </a>
            </div>
          </div>
          <button class="btn btn-add-options"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<a href='#'>Скопировать ссылку</a> <a href='#'>Поделиться</a>">
            <svg width="3" height="15" viewBox="0 0 3 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.5" cy="1.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="13.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="7.5" r="1.5" fill="#3E3E3E"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="video-item col mb-4">
        <a href="#" class="video-item__cover d-block">
          <img src="{{ url_for('static', filename='videos/example-video-01/example-video-01-cover.png') }}" alt="Title video" class="w-100">
          <span class="video-item__duration">15:39</span>
        </a>
        <div class="d-flex gap-2 py-2">
          <a href="#" class="video-item__autor-avatar">
            <img src="{{ url_for('static', filename='img/avatar-user-01.png') }}" alt="Name autor">
          </a>
          <div class="w-100">
            <div class="mb-1">
              <a href="#" class="video-item__title">
                Как избавиться от депрессии в условиях реального...
              </a>
            </div>
            <div class="">
              <a href="#" class="video-item__autor-name">
                Игорь Коновалов
              </a>
            </div>
          </div>
          <button class="btn btn-add-options"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<a href='#'>Скопировать ссылку</a> <a href='#'>Поделиться</a>">
            <svg width="3" height="15" viewBox="0 0 3 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.5" cy="1.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="13.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="7.5" r="1.5" fill="#3E3E3E"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="video-item col mb-4">
        <a href="#" class="video-item__cover d-block">
          <img src="{{ url_for('static', filename='videos/example-video-01/example-video-01-cover.png') }}" alt="Title video" class="w-100">
          <span class="video-item__duration">15:39</span>
        </a>
        <div class="d-flex gap-2 py-2">
          <a href="#" class="video-item__autor-avatar">
            <img src="{{ url_for('static', filename='img/avatar-user-01.png') }}" alt="Name autor">
          </a>
          <div class="w-100">
            <div class="mb-1">
              <a href="#" class="video-item__title">
                Как избавиться от депрессии в условиях реального...
              </a>
            </div>
            <div class="">
              <a href="#" class="video-item__autor-name">
                Игорь Коновалов
              </a>
            </div>
          </div>
          <button class="btn btn-add-options"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<a href='#'>Скопировать ссылку</a> <a href='#'>Поделиться</a>">
            <svg width="3" height="15" viewBox="0 0 3 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.5" cy="1.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="13.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="7.5" r="1.5" fill="#3E3E3E"/>
            </svg>
          </button>
        </div>
      </div>

      <div class="video-item col mb-4">
        <a href="#" class="video-item__cover d-block">
          <img src="{{ url_for('static', filename='videos/example-video-01/example-video-01-cover.png') }}" alt="Title video" class="w-100">
          <span class="video-item__duration">15:39</span>
        </a>
        <div class="d-flex gap-2 py-2">
          <a href="#" class="video-item__autor-avatar">
            <img src="{{ url_for('static', filename='img/avatar-user-01.png') }}" alt="Name autor">
          </a>
          <div class="w-100">
            <div class="mb-1">
              <a href="#" class="video-item__title">
                Как избавиться от депрессии в условиях реального...
              </a>
            </div>
            <div class="">
              <a href="#" class="video-item__autor-name">
                Игорь Коновалов
              </a>
            </div>
          </div>
          <button class="btn btn-add-options"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<a href='#'>Скопировать ссылку</a> <a href='#'>Поделиться</a>">
            <svg width="3" height="15" viewBox="0 0 3 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.5" cy="1.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="13.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="7.5" r="1.5" fill="#3E3E3E"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="video-item col mb-4">
        <a href="#" class="video-item__cover d-block">
          <img src="{{ url_for('static', filename='videos/example-video-01/example-video-01-cover.png') }}" alt="Title video" class="w-100">
          <span class="video-item__duration">15:39</span>
        </a>
        <div class="d-flex gap-2 py-2">
          <a href="#" class="video-item__autor-avatar">
            <img src="{{ url_for('static', filename='img/avatar-user-01.png') }}" alt="Name autor">
          </a>
          <div class="w-100">
            <div class="mb-1">
              <a href="#" class="video-item__title">
                Как избавиться от депрессии в условиях реального...
              </a>
            </div>
            <div class="">
              <a href="#" class="video-item__autor-name">
                Игорь Коновалов
              </a>
            </div>
          </div>
          <button class="btn btn-add-options"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<a href='#'>Скопировать ссылку</a> <a href='#'>Поделиться</a>">
            <svg width="3" height="15" viewBox="0 0 3 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.5" cy="1.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="13.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="7.5" r="1.5" fill="#3E3E3E"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="video-item col mb-4">
        <a href="#" class="video-item__cover d-block">
          <img src="{{ url_for('static', filename='videos/example-video-01/example-video-01-cover.png') }}" alt="Title video" class="w-100">
          <span class="video-item__duration">15:39</span>
        </a>
        <div class="d-flex gap-2 py-2">
          <a href="#" class="video-item__autor-avatar">
            <img src="{{ url_for('static', filename='img/avatar-user-01.png') }}" alt="Name autor">
          </a>
          <div class="w-100">
            <div class="mb-1">
              <a href="#" class="video-item__title">
                Как избавиться от депрессии в условиях реального...
              </a>
            </div>
            <div class="">
              <a href="#" class="video-item__autor-name">
                Игорь Коновалов
              </a>
            </div>
          </div>
          <button class="btn btn-add-options"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<a href='#'>Скопировать ссылку</a> <a href='#'>Поделиться</a>">
            <svg width="3" height="15" viewBox="0 0 3 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.5" cy="1.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="13.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="7.5" r="1.5" fill="#3E3E3E"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="video-item col mb-4">
        <a href="#" class="video-item__cover d-block">
          <img src="{{ url_for('static', filename='videos/example-video-01/example-video-01-cover.png') }}" alt="Title video" class="w-100">
          <span class="video-item__duration">15:39</span>
        </a>
        <div class="d-flex gap-2 py-2">
          <a href="#" class="video-item__autor-avatar">
            <img src="{{ url_for('static', filename='img/avatar-user-01.png') }}" alt="Name autor">
          </a>
          <div class="w-100">
            <div class="mb-1">
              <a href="#" class="video-item__title">
                Как избавиться от депрессии в условиях реального...
              </a>
            </div>
            <div class="">
              <a href="#" class="video-item__autor-name">
                Игорь Коновалов
              </a>
            </div>
          </div>
          <button class="btn btn-add-options"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<a href='#'>Скопировать ссылку</a> <a href='#'>Поделиться</a>">
            <svg width="3" height="15" viewBox="0 0 3 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.5" cy="1.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="13.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="7.5" r="1.5" fill="#3E3E3E"/>
            </svg>
          </button>
        </div>
      </div>

      <div class="video-item col mb-4">
        <a href="#" class="video-item__cover d-block">
          <img src="{{ url_for('static', filename='videos/example-video-01/example-video-01-cover.png') }}" alt="Title video" class="w-100">
          <span class="video-item__duration">15:39</span>
        </a>
        <div class="d-flex gap-2 py-2">
          <a href="#" class="video-item__autor-avatar">
            <img src="{{ url_for('static', filename='img/avatar-user-01.png') }}" alt="Name autor">
          </a>
          <div class="w-100">
            <div class="mb-1">
              <a href="#" class="video-item__title">
                Как избавиться от депрессии в условиях реального...
              </a>
            </div>
            <div class="">
              <a href="#" class="video-item__autor-name">
                Игорь Коновалов
              </a>
            </div>
          </div>
          <button class="btn btn-add-options"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<a href='#'>Скопировать ссылку</a> <a href='#'>Поделиться</a>">
            <svg width="3" height="15" viewBox="0 0 3 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.5" cy="1.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="13.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="7.5" r="1.5" fill="#3E3E3E"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="video-item col mb-4">
        <a href="#" class="video-item__cover d-block">
          <img src="{{ url_for('static', filename='videos/example-video-01/example-video-01-cover.png') }}" alt="Title video" class="w-100">
          <span class="video-item__duration">15:39</span>
        </a>
        <div class="d-flex gap-2 py-2">
          <a href="#" class="video-item__autor-avatar">
            <img src="{{ url_for('static', filename='img/avatar-user-01.png') }}" alt="Name autor">
          </a>
          <div class="w-100">
            <div class="mb-1">
              <a href="#" class="video-item__title">
                Как избавиться от депрессии в условиях реального...
              </a>
            </div>
            <div class="">
              <a href="#" class="video-item__autor-name">
                Игорь Коновалов
              </a>
            </div>
          </div>
          <button class="btn btn-add-options"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<a href='#'>Скопировать ссылку</a> <a href='#'>Поделиться</a>">
            <svg width="3" height="15" viewBox="0 0 3 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.5" cy="1.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="13.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="7.5" r="1.5" fill="#3E3E3E"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="video-item col mb-4">
        <a href="#" class="video-item__cover d-block">
          <img src="{{ url_for('static', filename='videos/example-video-01/example-video-01-cover.png') }}" alt="Title video" class="w-100">
          <span class="video-item__duration">15:39</span>
        </a>
        <div class="d-flex gap-2 py-2">
          <a href="#" class="video-item__autor-avatar">
            <img src="{{ url_for('static', filename='img/avatar-user-01.png') }}" alt="Name autor">
          </a>
          <div class="w-100">
            <div class="mb-1">
              <a href="#" class="video-item__title">
                Как избавиться от депрессии в условиях реального...
              </a>
            </div>
            <div class="">
              <a href="#" class="video-item__autor-name">
                Игорь Коновалов
              </a>
            </div>
          </div>
          <button class="btn btn-add-options"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<a href='#'>Скопировать ссылку</a> <a href='#'>Поделиться</a>">
            <svg width="3" height="15" viewBox="0 0 3 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.5" cy="1.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="13.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="7.5" r="1.5" fill="#3E3E3E"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="video-item col mb-4">
        <a href="#" class="video-item__cover d-block">
          <img src="{{ url_for('static', filename='videos/example-video-01/example-video-01-cover.png') }}" alt="Title video" class="w-100">
          <span class="video-item__duration">15:39</span>
        </a>
        <div class="d-flex gap-2 py-2">
          <a href="#" class="video-item__autor-avatar">
            <img src="{{ url_for('static', filename='img/avatar-user-01.png') }}" alt="Name autor">
          </a>
          <div class="w-100">
            <div class="mb-1">
              <a href="#" class="video-item__title">
                Как избавиться от депрессии в условиях реального...
              </a>
            </div>
            <div class="">
              <a href="#" class="video-item__autor-name">
                Игорь Коновалов
              </a>
            </div>
          </div>
          <button class="btn btn-add-options"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<a href='#'>Скопировать ссылку</a> <a href='#'>Поделиться</a>">
            <svg width="3" height="15" viewBox="0 0 3 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="1.5" cy="1.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="13.5" r="1.5" fill="#3E3E3E"/>
              <circle cx="1.5" cy="7.5" r="1.5" fill="#3E3E3E"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}